	<!-- modal -->
	<div id="arts-modal" uk-modal>
      <div class="uk-modal-dialog" id="arts-modal-dialog">
        <div class="uk-modal-header">
            <div class="uk-modal-title" id="art-titulo"></div>
        </div>
        <div class="uk-modal-body">

		<ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade" >
		    <li><a href="#">Datos</a></li>
		    <li><a href="#">Tags</a></li>
		    <li><a href="#">Copiar</a></li>
		    <li><a href="#">Borrar</a></li>
		</ul>

		<ul class="uk-switcher uk-margin">
		    <li><!------------------ DATOS --------------------->
				<form  id="art-datos-form" action="/arts/edit/{{this._id}}" method="POST">
				<input type="hidden" id="campo-id" name="id" value="{{this._id}}">
			    <div class="uk-margin">

					<div class="uk-form-controls-text">
        		    	<input class="uk-input uk-form-small" type="text"
							id="campo-nombre" 
							name="nombre"
							placeholder="Denominación"
							value="{{this.nombre}}">
        			</div>
					<p></p>

			        <div class="uk-form-controls uk-form-controls-text">
						<input class="uk-input uk-form-small uk-form-width-small" type="text" 
							id="campo-tamano" 
							name="tamano"
							placeholder="Tamaño"
							value="{{this.tamano}}">

						<select class="uk-select uk-form-small uk-form-width-small"
							id="campo-unidades" 
							placeholder="Unidades"
							name="unidades">
					        <option>g</option>
					        <option>ml</option>
					        <option>L</option>
					        <option>Kg</option>
						</select>
        			</div>
			    </div>
			    <div class="uk-margin">
			        <label class="uk-form-label">Precio de costo</label>
			        <div class="uk-form-controls uk-form-controls-text">
						<input class="uk-input uk-form-small uk-form-width-small" type="text" 
							id="campo-costo" 
							name="costo"
							value="{{this.costo}}">
        			</div>
			    </div>
				<hr>
				<input class="uk-button uk-button-primary uk-button-small uk-align-right"
						type="submit" value="Confirmar">
				<a class="uk-button uk-button-default uk-button-primary 
						uk-button-small uk-align-right uk-modal-close" >Cancelar</a>
				</form>
			</li>

		    <li><!------------------ TAGS --------------------->
				<form class="uk-form-horizontal uk-margin-large" 
					action="/arts/tags" method="POST">
				<input type="hidden" name="id" value="{{this._id}}">

				<div class="uk-margin uk-child-width-auto uk-grid">
					{{#each ../tags}}
					<label>{{this.nombre}}</label><input class="uk-checkbox" type="checkbox" name="tag-{{this.id}}" value=" ">
					{{/each}} 
        		</div>

				<hr> <!-------------------------------------->
				<!---- Nuevo tag ---------------------------->
			    <div class="uk-margin">
			        <label class="uk-form-label">Nuevo tag</label>
			        <div class="uk-form-controls uk-form-controls-text">
						<input class="uk-input uk-form-small uk-form-width-small"
							type="text" 
							id="nuevotag" 
							value=""
							name="nuevotag">
        			</div>
			    </div>
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
					{{#each this.propiedades}}
					<input class="uk-checkbox" 
						type="checkbox" 
						name="{{this.id}}" checked>
		            <label>{{this.id}}</label>
					{{/each}} <!--propiedades -->
        		</div>
				<hr> <!-------------------------------------->
				<input class="uk-button uk-button-primary uk-button-small uk-align-right" type="submit" value="Confirmar">
				<a class="uk-button uk-button-default uk-button-primary uk-button-small uk-align-right uk-modal-close" >Cancelar</a>
				</form>
			</li>



<!------------------------ COPIAR
		    <li>
			<div class="uk-flex uk-flex-center"> 
					<div class="uk-card uk-card-default uk-card-body uk-card-secondary uk-align-center">¿Duplicar el art <strong><span id="art-nombre-copiar"></span></strong>?</div>
				<p></p>
			</div>
			<hr>
			<a id="boton-copiar-art" 
				class="uk-button uk-button-primary uk-button-small uk-align-right"
				href="X">Confirmar</a>
			<a class="uk-button uk-button-default uk-button-primary uk-button-small uk-align-right uk-modal-close" >Cancelar</a>
			</li>
---------------->


		    <li><!------------------ COPIAR --------------------->
			<div class="uk-flex uk-flex-center"> 
					<div class="uk-card uk-card-default uk-card-body uk-card-secondary uk-align-center">¿Duplicar el art <strong><span id="art-nombre-copiar"></span></strong>?</div>
				<p></p>
			</div>
			<hr>
			<a id="boton-copiar-art" 
				class="uk-button uk-button-primary uk-button-small uk-align-right"
				href="X">Confirmar</a>
			<a class="uk-button uk-button-default uk-button-primary uk-button-small uk-align-right uk-modal-close" >Cancelar</a>
			</li>



		    <li><!------------------ BORRAR --------------------->
			<div class="uk-flex uk-flex-center"> 
					<div class="uk-card uk-card-default uk-card-body uk-card-secondary uk-align-center">¿Borrar el art <strong><span id="art-nombre-borrar"></span></strong>?</div>
				<p></p>
			</div>
			<hr>
			<a id="boton-borrar-art" 
				class="uk-button uk-button-danger uk-button-small uk-align-right"
				href="X">Confirmar</a>
			<a class="uk-button uk-button-default uk-button-primary uk-button-small uk-align-right uk-modal-close" >Cancelar</a>
			</li>
		</ul>
		</div> 	<!-- /modal-body -->
        <button class="uk-modal-close-default" uk-close></button>
      </div> <!-- /modal -->
	</div> <!-- /modal-dialog -->

